//-for zooming
mixin zoom
    .zoomIn
    .zoomOut

doctype html
html(lang="en")
  head
    title #{title}
    script(src="/js/libs/jquery.min.js")
    script(src="/js/libs/arbor.js")
    link(type="text/css",rel="stylesheet",href="/css/style.css")

  body
    #cy
    #msg Node Information
    input#search(placeholder="Search the Network",autofocus) 
    //search for a specific gene

    button#redo Re-render

    // for each timePoint in timePoints
    .timePoint.timeSelect(data-time="ej") Early Juvenile
    .timePoint(data-time="lj") Late Juvenile
    .timePoint(data-time="lp") Late Puberty
    // t

    mixin zoom

    input#expMax
    input#expMin
    input#midPointControl  
    //choose the range of expression values to see

    #expGradient

    #layoutControls
        ul
            li Save
            li Upload
            li Default Layouts

    script(src='/js/libs/async.min.js')
    script(src="/js/libs/cytoscape.min.js")
    script(src="/js/libs/underscore.min.js")
    script(src="/js/cyto.js")
    script(src="/js/model.js")
    script(src="/js/dataRequests.js")
