doctype html
html(lang="en")
  head
    title #{title}
    script(src="/js/libs/jquery.min.js")
    script(src="/js/libs/arbor.js")
    link(type="text/css",rel="stylesheet",href="/css/style.css")

  body
    #msgBox
        #msg Node Information
        input#search(placeholder="Search the Network",autofocus) 
    //search for a specific gene

    #controls
        #timePoints.control 
            h4 Choose a Time Point

        #layoutControls.control 
            h4 Custom Layouts
            div.layoutControl#upload-layout Upload

    //- shows up for instructions, uploading etc
    #cover-box.hide
        #close-coverBox X
        #intro
        #layout-input
            label File:
            input(name='upload', type='file', onchange="changeLayout()")

    #hoverDiv.hide 
        #close-hoverDiv X
        h3 Node Information: 
        p#nodeType
        p#ncbi NCBI Links
        p#ourNotes This is our notes on this gene!
        p#blurb This is a blurb about the gene.
        ul#neighbors
            h4 First Neighbors
        #exp-graph
            #bars
            #values

    #cy

    script(src='/js/libs/async.min.js')
    script(src="/js/libs/cytoscape.min.js")
    script(src="/js/libs/underscore.min.js")
    script(src='/js/libs/xml2json.js')
    script(src="/js/cyto.js")
    script(src="/js/model.js")
    script(src="/js/dataRequests.js")
