//-for zooming
mixin zoom
    .zoom.control 
        h4 Zoom Controls
        button#zoomIn   +  
        button#zoomOut   -  

doctype html
html(lang="en")
  head
    title #{title}
    script(src="/js/libs/jquery.min.js")
    script(src="/js/libs/arbor.js")
    link(type="text/css",rel="stylesheet",href="/css/style.css")

  body
    #msgBox
        #msg Node Information
        input#search(placeholder="Search the Network",autofocus) 
    //search for a specific gene

    #controls
        #timePoints.control 
            h4 Choose a Time Point

        mixin zoom

        #expControls.control 
            h4 Value Controls
            input#expMax(placeholder="Set Max")
            input#expMin(placeholder="Set Min")
            input#midPointControl(placeholder="Set New Center Point")
        //choose the range of expression values to see

        #expGradient

        #layoutControls.control 
            h4 Custom Layouts
            div.layoutControl Save
            div.layoutControl Upload
            div.layoutControl All Layouts

    #hoverDiv.hide 
        #close X
        h3 Node Information: 
        p#ncbi NCBI Links
    #cy

    script(src='/js/libs/async.min.js')
    script(src="/js/libs/cytoscape.min.js")
    script(src="/js/libs/underscore.min.js")
    script(src="/js/cyto.js")
    script(src="/js/model.js")
    script(src="/js/dataRequests.js")
