doctype html
html(lang="en")
  head
    title #{title}
    script(src="/js/libs/jquery.min.js")
    script(src="/js/libs/arbor.js")
    link(type="text/css",rel="stylesheet",href="/css/style.css")

  body
    #cy()
    #msg Node Information
    // input#search(autofocus) //search for a specific gene
    button#redo Re-render
    select#timePoint
        option Early Juvenile
        option Late Juvenile
        option Late Puberty
    // input#meanControl  //choose the range of expression values to see

    script(src='/js/libs/async.min.js')
    script(src="/js/libs/cytoscape.min.js")
    script(src="/js/libs/underscore.min.js")
    script(src="/js/cyto.js")
    script(src="/js/model.js")
    script(src="/js/dataRequests.js")
