*
  margin 0
  padding 0

html
  background-color white
  //darker color?

body
  font-family Helvetica, sans-serif
  font-size 14px

#msg
  background-color rgb(150,150,150)
  border-bottom 2px solid black
  padding 5px

#cy
  border 1px solid black
  display block
  font-family helvetica, arial, sans-serif
  font-size 14px
  height 80%
  left 0px
  line-height normal
  position absolute
  bottom 0px
  width 1280px

//TIME POINTS
#timePoints
  display inline-block
  border 2px solid purple

.timePoint
  width 100px
  height 20px
  border 1px solid blue
  color white
  font-size 12px
  background-color #52A5FF
  display inline-block
  padding 2px
  cursor pointer
  margin 5px 2.5px

.timeSelect
  background-color green

button
  padding 10px
  margin 2px
  display block

.zoom
  border 1px solid blue
  padding 1px
  margin 5px
  display none /*inline-block - not being developed now*/

#expControls
  border 1px solid black
  display none /*inline-block - not being developed now*/

input
  padding 5px
  margin 5px
  display inline-block

#expGradient
  display none
  border 1px solid black

#layoutControls
  display none
  overflow hidden

.buffer 
  padding 5px 15px
  