transform()
  transform arguments
  -webkit-transform arguments
  -o-transform arguments
  -ms-transform arguments
  -moz-transform arguments

cyWidth = 90%
cySideMargin = 5%

*
  margin 0
  padding 0

html
  background-color #cec7ec //d1c176
  //darker color?

body
  font-family Helvetica, sans-serif
  font-size 14px

#msgBox
  background-color #d1c176
  border-bottom 2px solid black
  display inline-block
  margin-bottom 10px
  max-width 100%
  width 100%

  #msg
    float left

  #search
    padding 8px
    margin 10px 20px
    float right

#cy
  background-color darkgrey
  display inline-block
  font-family helvetica, arial, sans-serif
  font-size 14px
  min-height 65vh
  min-width cyWidth
  margin 20px cySideMargin

#controls
  min-width cyWidth
  margin 10px cySideMargin
  padding 5px

.control
  margin 5px

  h4
    clear both
    display block
    text-align center
    font-family Tacoma, Helvetica, sans-serif
    font-size 1.0rem

.layoutControl
  width 65px
  height 20px
  border 1px solid blue
  color white
  font-size 12px
  background-color #52A5FF
  display inline-block
  padding 2px
  cursor pointer
  margin 5px 2.5px

//TIME POINT BUTTONS
#timePoints
  display inline-block

.timePoint
  width 100px
  height 20px
  border 1px solid blue
  color white
  font-size 12px
  background-color #52A5FF
  display inline-block
  padding 2px
  cursor pointer
  margin 5px 2.5px

.timeSelect
  background-color green

button
  padding 10px
  margin 2px
  display block

.zoom
  padding 1px
  margin 5px
  display inline-block // - not being developed now

  button
    display inline-block

#expControls
  display inline-block // - not being developed now*/

input
  padding 5px
  margin 5px
  display inline-block

#expGradient
  display none
  border 1px solid black

#layoutControls
  display inline-block//none
  //overflow hidden

.buffer 
  padding 5px 15px

#hoverDiv
  min-width 200px
  min-height 300px
  border 2px solid green
  background-color white
  position absolute
  padding 20px
  top 0
  left 0
  z-index 8000

.hide
  display none

#close-hoverDiv, #close-coverBox
  width 20px
  height 20px
  background-color red
  color white
  position absolute
  top 0
  right 0
  cursor pointer
  text-align center
  line-height 19px //auto vertical centering

//INTRO BOX
#cover-box
  background-color black
  position fixed
  height 100vh
  width 100vw
  z-index 9000

  *
    z-index 9001

#layout-input
  height 500px
  width 50%
  background-color white
  position absolute
  top 50px
  left 25%

  *
    z-index 9002

#exp-graph
  border 1px solid black
  width 200px
  min-height 200px
  padding 5px

.graph-bar
  border 1px solid black
  min-height 180px
  display inline-block
  margin 0px auto
  padding 5px
  bottom 0
  position relative
  background-color #eee

#values  
  p
    display inline-block
    padding 5px 10px
  